@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    background-image: url(../image/HeroImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
.services{
    background-color: rgb(236, 233, 226);
    
}
.cart1,.cart2,.cart3,.cart4,.cart6{
    transition: transform 0.3s ease;
   
}
.cart1:hover,.cart2:hover,.cart3:hover,.cart4:hover,.car6:hover{
    transform: translateY(10px);
}
.cart5{
    transition: transform 0.3s ease;
}
.cart5:hover{
    transition: transform 0.3s ease;
}
